/* NEW NOTE*/
h2{
  margin-left:1000px;
  color: #FFF;
}

#form_note{
  width: 20%;
  margin: 0 auto;
  margin-top: 100px;
}

#form_note textarea{
  width: 380px;
}

#form_note input[type="submit"]{
  display: inherit;
}

/*  ADD NOTE STYLE   */
.add_note{
  width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: 75px;
    font-weight: bold;
    color: #FFF;
    background-color: #CCC;
    border-radius: 50%;
    text-indent: 28px;
    cursor: pointer;
}

/*	NOTES STYLE  */
.tasks {
  margin: 50px;
  width: 240px;
  float:left;
  background: white;
  border: 1px solid #cdd3d7;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tasks-header {
  position: relative;
  line-height: 24px;
  padding: 7px 15px;
  color: #5d6b6c;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #f0f1f2;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -moz-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: -o-linear-gradient(top, #f5f7fd, #e6eaec);
  background-image: linear-gradient(to bottom, #f5f7fd, #e6eaec);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.03);
}

.tasks-title {
  line-height: inherit;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
}

.tasks-lists {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  padding: 10px 4px;
  width: 25px;
  height: 3px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
.tasks-lists:before {
  content: '';
  display: block;
  height: 3px;
  background: #8c959d;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
  box-shadow: 0 6px #8c959d, 0 -6px #8c959d;
}


.text{
    padding: 5px 5px;
    border: 0;
    width: 238px;
}

.sub-menu-tasks{
    position: absolute;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    top: 39px;
    right: -6px;
    border-radius: 3px;
    margin-right: 20px;
    display:none;
}

.sub-menu-tasks a{
  color:#FFF;
  display: inherit;
}

.tasks-lists:hover ~ .sub-menu-tasks{
  display: block;
}

/*//
// Modal
// ----------------------
*/
.modal{
    background-color: rgba(0,0,0,0.6);
  &:before{
    content: ""; 
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
  }
  
  &:target{
     
    /*// Active animate in modal*/
    &:before{
      display: block;
    }  
    .modal-dialog{
      .translate(0, 0); 
      top: 20%;  
    }
     
  }
  
}